* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border: none;
}

@font-face {
    font-family: "Merge One";
    src: url(./fonts/MergeOne-Regular.woff);
  }

:root {
    --babypink: rgb(255, 192, 203);
    --darkpurple: rgb(16, 7, 22);
    --purple: #362341;
    --lightpurple: rgb(143, 110, 154);
    --flashypink: #D42E4B;
    --animation-curve: cubic-bezier(1,0,0,1);
}

::selection {
    background: rgba(143,110,154,0.5);
}

h2 {
    margin: 24px 0px 16px 0px;
    font-family: "Marck Script", serif;
    font-size: 24pt;
    text-align: center;
}

h3, header h2 {
    font-family: "Merge One";
    text-align: center;
}

h3 {
    padding: 24px 0px 24px 0px;
}

p {
    font-family: "Merge One";
    padding: 0px 0px 16px 0px;
}



/* Style des boutons */
button {
    background: none;
}

                        nav button a, nav button a:hover {
                            margin: 0px 16px 0px 16px;
                            padding: 4px 8px;
                            color: black;
                        }

header button a:hover {
    background: white;
    border: none;
}

button a, input[type="submit"] {
    background: var(--babypink);
    font-family: "Merge One";
    text-transform: uppercase;
    color: black;
    padding: 8px 16px;
    margin: 32px;
    border-radius: 8px;
    text-align: center;
}

button a:hover, input[type="submit"]:hover {
    background: white;
}

section button, input[type="submit"] {
    margin: 16px;
    text-align: center;
    margin: auto;
}

/* Fin de style des boutons */


/* Style du header (header, navigation) */
header {
    color: var(--babypink);
    font-family: "Marck Script", serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: url(./images/fleurs/annie-spratt-vs6a4EHj_Ro-unsplash_rotate1v1.JPG) no-repeat;
    object-fit: cover;
    height: 456px;
    padding: 0px 0px 16px 0px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: var(--darkpurple);
}

.identite {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;
    padding: 0px 0px 0px 16px;
}

.identite h1 {
    padding-right: 24px;
}

/* padding: 0px 16px; */

.identite img {
    margin: 0px 16px 0px 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-self: center;
}

nav input[type="checkbox"] {
    display: none;
}

.fin-navigation {
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px 0px 0px;
}

.fin-navigation img {
    height: 16px;
    vertical-align: middle;
    padding-bottom: 2px;
}

nav a {
    padding: 16px;
}

nav img {
    width: 30px;
}

.menu-hamburger {
    display: none;
    }

.close-menu-hamburger {
    display: none;
}

nav input[type="text"] {
    background: white;
    color: var(--darkpurple);
    border: 1 solid var(--purple);
    padding: 8px;
    border-radius: 8px;
    font-family: "Merge One";
    max-width: 450px;
    min-width: 250px;
}

#slogan {
    font-family: "Merge One";
    color: white;
    font-size: 12pt;
    padding: 16px;
}

#slogan h2, #slogan p {
    max-width: 80%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#slogan h2 {
    margin: 0px 0px 32px 0px;
}

#slogan p {
    text-align:right;
    position: relative;
    left: 20%;
    margin: 0px 0px 32px 0px;    
}
/* Fin de style du header */



/* Style général de main */
main {
    background: white;
}

main h2 {
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

section {

    width: 100%;
    box-sizing: border-box;
    padding: 0px 40px 0px 40px;
}

article {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 24px;
}

#galerie_video {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#galerie_video video {
    border-radius: 4px;
    box-shadow: 0px 0px 8px var(--flashypink);
}

article:last-of-type {
    padding-bottom: 16px;
}

article p {
    line-height: 20pt;
}

article button {
    width: 100%;
}
/* Fin style général de main */



/*Style des sections avec fond dégradé */
#service, #equipe {
    width: 100%;
    background: linear-gradient(0.3turn, var(--lightpurple), var(--purple));
    color: white;
}

#service {
    margin: 16px 0px 8px 0px;
    padding: 16px 0px;
}

#service h2, #equipe h2 {
    text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
}

#service h3 {
    color: var(--lightpurple);
}

.info p {
    text-align: center;
}
    /* Style liste des services pages d'accueil */
#service article {
    max-width: 290px;
    width: calc(100% - 32px);
    background: white;
    color: black;
    border-radius: 8px;
    padding-bottom: 16px;
    box-shadow: 0px 0px 8px var(--darkpurple);
}

.liste-service {
    width: calc(100vw - 80px);
    margin: auto;
    padding-top: 8px;
    display: flex;
}

.liste-service img {
    height: 180px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;

}

        /* Paragraphe explicatif des services proposés */
.explication {
    padding: 0px 24px;        
}

.explication p {
    line-height: 1.3em;
    margin-bottom: 16px;
    text-align: justify;
}

.readmore {
    font-family: "Merge One";
    padding: 4px 8px 4px 8px;
    color: var(--flashypink);
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.5pt;
    border: 1px solid var(--flashypink);
    border-radius: 4px;
    position:unset;
    right: 0px;
}

.readmore:hover {
    background: var(--flashypink);
    color: white;
}
        /*Fin Paragraphe explicatif des services proposés */
    /*Fin Style liste des services pages d'accueil */



    /* Style présentation de l'équipe */
#equipe {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#equipe h2 {
    display: block;
    width: 100%;
    color: white;
}

#equipe img {
    border-radius: 250px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid var(--lightpurple)
}

.presentation h3 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#equipe article {
    display: flex;
    padding: 24px;
    justify-content: center;
}

#equipe article:nth-of-type(2n+1) .presentation h3 {
    flex-direction: row-reverse;
}

.presentation strong {
    color: var(--darkpurple);
    font-weight: normal;
    font-variant: small-caps;
}
.presentation {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;

    color: #c6c6c6;
    text-align: justify;
}
    /*Fin Style présentation de l'équipe */  
/* Fin de Style des sections avec fond dégradé */



#nous_choisir {
    border-bottom: 1px solid var(--lightpurple);
    /* margin-bottom: 32px; */
}

#nous_choisir p {
    line-height: 1.5em;
    /* margin-bottom: 16px; */
}

#nous_choisir strong {
    color: var(--flashypink)
}

.galerie img, .galerie_service img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 4px var(--lightpurple);
}

.galerie_service {
    width: 86%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 0px;
    display: grid;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--flashypink);
}

.galerie_service:last-of-type {
    border-bottom: none;
}

/* Style des formulaires */
form {
    width: calc(100% - 64px);
    max-width: 1100px;
    margin: auto;
    font-family: "Merge One";
}

fieldset {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 32px;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 0px;
    color: var(--flashypink);
}

#service label {
    color: white;
}

#finalisation-form {
    display: flex;
    flex-flow: column nowrap;
}


.finalisation-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
}

.item-form {
    display: flex;
    flex-flow: column nowrap;
}

.item-form input, .item-form textarea, .item-form select {
    padding: 16px 8px;
    border: 1px solid var(--purple);
    border-radius: 8px;
}
/* Fin de Style des formulaires */



/* Style du footer */
footer {
    padding: 16px 16px 24px 16px;
    color: white;
    background: var(--darkpurple);
}

footer p {
    font-size: 12pt;
    text-align: center;
}

footer img {
    height: 35px;
    width: 35px;
    object-fit: contain;
    padding: 8px;
    margin: 0px 16px 0px 0px;
    vertical-align: bottom;
}
/* Fin style du footer */

@media screen and (min-width: 865px) and (max-width: 1080px) { 
    /* Style du header (header, navigation) */
        nav input {
            display: none;
        }
    /* Fin de style du header */
}    


@media screen and (min-width: 866px) {

    /* Style du header (header, navigation) */
    header {
        background-position:  50% 50%;
    }

    nav {
        justify-content: space-between;
        align-content: center;
    }

    nav a {
        color: white;
        font-family: "Merge One";
        font-variant: small-caps;
        letter-spacing: 1pt;
        display: inline-block;
        line-height: 2em;
        vertical-align: center;
    }

    nav a:hover {
        padding-bottom: calc(16px - 2px);
        background: rgba(255,255,255,0.2);
        border-bottom: 2px solid var(--flashypink);
    }

    a#active_link {
        border-bottom: 2px solid var(--flashypink);
        padding-bottom: 14px;
        background: rgba(255,255,255,0.1);
    }

    nav a:focus {
        border-bottom: 2px solid var(--flashypink);
        color: var(--flashypink);
    }

    #slogan {
        width: 60%;
        margin-left: 15%;
    }
/* Fin de style du header */

/*Style des sections avec fond dégradé */

    /* Style liste des services pages d'accueil */
    .liste-service {
        flex-flow: row wrap;
        gap: 16px;
        align-items: stretch;
        justify-content: space-around;
        }
    /*Fin Style liste des services pages d'accueil */


    /* Style présentation de l'équipe */
    #equipe article {
        flex-flow: row nowrap;
        margin: 0px 0px 24px 0px;
    }

    #equipe article:nth-of-type(2n+1) {
        flex-flow: row-reverse nowrap;
    }

    #equipe article:nth-of-type(2n+1) .presentation {
        text-align: right;
        margin: 0px 16px 0px 0px;
    }

    .presentation {
        margin: 0px 0px 0px 16px;
        width: 70%;
        max-width: 700px;
    }
    /*Fin Style présentation de l'équipe */  

    #galerie_video video {
        max-width: 40%;
    }    

/* Fin de Style des sections avec fond dégradé */


    .galerie {
        width: 86%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: 32px;
    }

    .galerie img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        box-shadow: 0px 0px 4px var(--lightpurple);
    }

    .galerie_service {
        grid-template: 1fr / 1fr 1fr 1fr;
        gap: 32px;
    }


/* Style des formulaires */
    fieldset {
            flex-flow: row wrap;
        }

        #votre-commande {
            flex-flow: column nowrap;
        }

        #votre-commande .item-form {
            width: calc(100% - 32px);
            margin:auto;
        }

        .item-form {
            width: calc(50% - 32px);
        }

        #identité .item-form:first-of-type {
            width: calc(100% - 32px);
        }
        
        #vous-contacter .item-form:last-of-type {
            width: calc(100% - 32px);
        }
/* Fin de Style des formulaires */
}

@media screen and (max-width: 864px) {
    p {
        font-size: 12pt;
    }

/* Style du header (header, navigation) */
    header {
        background-position:  50% 50%;
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-family: "Merge One";
        font-size: 1.5em;
        text-transform: uppercase;
        margin-top: -100vh;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
    }

    nav label {
        cursor: pointer;
        height:fit-content;
        width: 24px;
        background: url(./images/icons/pink-menu-svgrepo-com.svg) no-repeat 0% 50%;
        background-size: contain;
        transition: all 0.4s var(--animation-curve);
        transform: rotatez(0deg);
    }

    #toggle:checked ~ label {
        background: url(./images/icons/pink-close-bold-svgrepo-com.svg) no-repeat;
        background-size: contain;
        transform: rotatez(360deg);

        
    }

    nav ul {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        background: rgba(16, 7, 22,0.6);
        backdrop-filter: blur(5px);
    }

    nav ul a {
        color: white;
    }

    nav {
        padding: 16px;
        justify-content: space-between;
    }

    nav input {
        display: none;
    }

    nav button a, nav button a:hover {
    padding: 8px 8px;
    }

    a#active_link {
        border-bottom: 2px solid var(--babypink);
        color: var(--babypink);
    }

    .menu-hamburger {
        display: block;
        z-index: 1;
        order: 1;
        }

    .fin-navigation {
        padding: 0px;
    }

    .fin-navigation input {
        display: none;

    }
/* Fin de style du header */



/*Style des sections avec fond dégradé */
/* Style liste des services pages d'accueil */
    .liste-service {
        flex-flow: column nowrap;
        align-items: center ;
    }
/*Fin Style liste des services pages d'accueil */
    #galerie_video video {
        max-width: 100%;
    }



/* Style présentation de l'équipe */
    #equipe article {
        flex-flow: column nowrap;
        align-items: center;
    }

    .presentation {
        width: 90%;
        margin-top: 8px;
        padding-bottom: 16px;
    }
/*Fin Style présentation de l'équipe */  
/* Fin de Style des sections avec fond dégradé */

    .galerie {
        width: 86%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .galerie_service {
        grid-template-columns: 1fr;
        gap: 32px;
    }


/* Style des formulaires */
    fieldset {
        flex-flow: column nowrap;
    }
/* Fin de Style des formulaires */
}

@media screen and (max-width: 410px) {
    nav button {
        display: none;
    }
}